<DOCTYPE html>

<head>
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "d0a2a2231f80471cb36b52de8b439a98"}'></script><!-- End Cloudflare Web Analytics -->
<div class="header">
	<h1>{% block title %}{% endblock %}</h1>
	<div class="navbar">	
		<a href="/" class="">Home</a>

		<a href="/post" class="}">Post</a>

		<a href="/posts" class="}">View Posts</a>
	</div>
</div>

<hr> 

</body>