{% import 'marcos.html' as marcos %}
<DOCTYPE html>

<head>
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WRHZBBJ');</script>
<!-- End Google Tag Manager -->
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRHZBBJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "d0a2a2231f80471cb36b52de8b439a98"}'></script><!-- End Cloudflare Web Analytics -->
{# if the user is not logged in #}
{% if marcos.login(session) == False %}
<div class="header">
	<h1>{% block title %}{% endblock %}</h1>
	<div class="navbar">	
		<a href="/" class="">Home</a>

		<a href="/post" class="}">Post</a>

		<a href="/posts" class="}">View Posts</a>
	</div>
</div>

<hr> 

{% for message in session.get('messages') %}
<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>        {{ message }}
</div>
{% endfor %}

{# if the user is logged in #}
{% else %}
{% endif %}
</body>